body{
    background: black;
    padding: 0;
    margin: 0;
    }
header{
	border-bottom: 2px solid white;
	color: white;
    text-decoration: none;
    margin: 0 auto;
}
h1{
	font-family: Sunday-Regular;
	line-height: 25px;
}
h2{
	font-family: Sunday-Regular;
	line-height: 45px;
}
h3{
	font-family: Sunday-Regular;
	line-height: 25px;
}
h4{
	font-family: Sunday-Regular;
	line-height: 25px;
}
h5{
	font-family: Sunday-Regular;
	line-height: 25px;
}
p{
	font-family: Sunday-Regular;
	line-height: 25px;
}
.anim-logo{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 500px; 
	border-bottom: 2px solid white;
	padding-bottom: 5px;
	padding-top: 5px;
}
.logo-circle1{
	background-color: #4C0099;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	opacity: 0%;

	animation-name: circle;
	animation-duration: 0.1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	/*box-shadow: 1px 1px 1px 1px #330066;*/
}
.logo-circle2{
	background-color: #6600CC;
	border-radius: 50%;
	width: 475px;
	height: 475px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0.25%;

	animation-name: circle;
	animation-duration: 0.1s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}
.logo-circle3{
	background-color: #7F00FF;
	border-radius: 50%;
	width: 450px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0%;

	animation-name: circle;
	animation-duration: 0.1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
.logo-circle4{
	background-color: #9933FF;
	border-radius: 50%;
	width: 425px;
	height: 425px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0%;

	animation-name: circle;
	animation-duration: 0.1s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}
.logo-circle5{
	background-color: #B266FF;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	opacity: 0%;

	animation-name: circle;
	animation-duration: 0.2s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}
#header-text{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-left: 20px;
}
.logo-info{
	width: 500px;
	height: 500px;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	opacity: 0;

	animation-name: circle;
	animation-duration: 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
}
.logo-info h1{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}
.logo-info button{
	background-color: black;
	color: white;
	border: 2px solid white;
	border-radius: 12px;
	margin-top: 10px;
	width: 125px;
	height: 35px;
	transition: all .15s ease;
	opacity: 0;
	/*box-shadow: 2px 2px #7F00FF;*/

	animation-name: circle;
	animation-duration: 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: forwards;
}
.logo-info button:hover{
	background-color: #7F00FF;
	/*box-shadow: 1px 1px 1px 1px #7F00FF;*/
}
.logo-info button a{
	color: white;
	text-decoration: none;
}
.logo h1{
	padding-right: 60px;
}
.info{
	color: white;
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 2px solid white;
}
.about{
	color: white;
	border-bottom: 2px solid white;
}
.buttons{
	height: 740px;
	display: flex;
	align-items: center;
	flex-direction: column;
}	
.buttons section button{
	height: 100%;
	width: 100%;
	transition: all .15s ease;
	background: #B266FF;
	border-left: 2px solid #6600CC;
	border-top: 0;
	color: white;
}
.buttons section{
	position: relative;
	width: 10%;
	padding-bottom: 10px;
	display: flex;

}
.buttons section button:hover{
	border-radius: 50%;
	/*height: 50%;*/
	height: 95%;
	border: 2px solid #6600CC;
	background: #6600CC;
	box-shadow: -2px -2px 5px white, 2px 2px 5px white;
	margin-right: 10px;
}
.sections{
	display: flex;

}
.sections section{
	min-width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sections-info{
	width: 75%;
}
.sections-btn{
	width: 25%;
	float: right;
	width: 20%;
}
/*.buttons section:hover button{
	display: block;
	opacity: 100%;
}*/
.left-buttons{
	width:100%;
	height: 100%;
	display: flex;
}
.left-buttons div{
	border: 2px solid white;
	margin: 20px;
	width: 350px;
	height: 350px;
}
.buttons div h3{
}
.buttons div h5{
	padding-left: 20px;
}
.left-buttons div:nth-child(1){
	transition: all .15s ease;
	background: linear-gradient(to right, #6600CC, #B266FF);
}
.left-buttons div:nth-child(2){
	background: linear-gradient(to left, #6600CC, #B266FF);
}
.right-buttons div:nth-child(1){
	background-color: #6600CC;
	background: linear-gradient(to right, #6600CC, #B266FF);
}
.right-buttons div:nth-child(2){
	background: linear-gradient(to left, #6600CC, #B266FF);
}
.right-buttons{
	width:100%;
	height: 100%;
	display: flex;
}
.right-buttons div{
	border: 2px solid white;
	width: 350px;
	height: 350px;
	margin: 20px;
}
.about h1{
	margin: 100px 40px;
}
.about h2{
	padding-right: 40px;
	margin: 0 40px;
	margin-bottom: 100px;
	padding-bottom: 0;
	width: 100%;
}
.about img{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
	box-shadow: -3px -3px 5px white, 3px 3px 5px white, 3px 0 5px white, -3px 0 5px white;
}
.header{
	width: 50%;
	padding-left: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-right: 40px;
}
.menu ul li a{
	color: white;
    text-decoration: none;
    padding-right: 40px;
    transition: all .15s ease;
}
.menu ul li a:hover{
	color: orange;
    padding-right: 50px;
    padding-left: 10px;
    transform: scale(1.025);
}
.menu ul{
	display: flex;
	padding-right: 60px;
}
.menu li{
	display: flex;
	justify-content: space-between;
}
.header__burger-btn{
	display: none;
	position:  relative;
	width:40px;
	height: 40px;
	border: none;
	background: none;
	z-index: 2;
}
.header__burger-btn span{
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: white;
	left: 5px; 
	transition: transform .5s, width .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1){
	transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3){
	transform: translateY(10px);
}
header.open .header__burger-btn span{
	background-color: black;
}
header.open .header__burger-btn span:nth-child(1){
	transform: translateY(0) rotate(45deg);
}
header.open .header__burger-btn span:nth-child(2){
	width: 0;
}
header.open .header__burger-btn span:nth-child(3){
	transform: translateY(0) rotate(-45deg);
}
.logo{
	padding-left: 60px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

@keyframes circle{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}
@font-face{
	font-family: Sunday-Regular;
	src: url(Sunday-Regular.ttf);
}

@media (max-width: 992px){
	.header__burger-btn{
		display: block;
	}
	.menu{
		position: absolute;
		left: -350px;
		top: 0;
		width: 350px;
		height: 100%;
		background-color: white;
		padding-top: 80px;
		padding-bottom: 20px;
		transition: transform .5s;
	}
	.menu ul{
		display: block;
	}
	.menu ul li a{
		color: black;
		font-size: 100;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	header.open .menu{
		transform: translateX(100%);
	}
	.left-buttons div{
	border: 1px solid white;
	margin: 10px;
	width: 125px;
	height: 125px;
	}
	.right-buttons div{
	border: 1px solid white;
	margin: 10px;
	width: 125px;
	height: 125px;
	}
	.buttons{
		height: 350px;
	}
	.buttons button{
		height: 12.5px;
		width: 35px;
		margin-top: 10px;
		margin-left: 10px;
		font-size: 3px;
	}
	.buttons div h2{
	padding-left: 10px;
	padding-top: 30px;
	font-size: 12.5px;
	}
	.buttons div h4{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 5px;
	}
}